<MudNavMenu>
    <div class="pa-4">
        <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: bold;">MENÚ PRINCIPAL</MudText>
    </div>

    <MudNavLink href="/dashboard" Icon="@Icons.Material.Outlined.Dashboard">Dashboard</MudNavLink>

    <MudNavLink href="/facturacion/ventas" Icon="@Icons.Material.Outlined.PointOfSale">Venta</MudNavLink>

    <MudNavLink href="/inventario" Icon="@Icons.Material.Outlined.Inventory2">Inventario</MudNavLink>

    <MudNavLink href="/facturacion/consola-documentos" Icon="@Icons.Material.Outlined.Description">Consola de Documentos</MudNavLink>

    <MudNavGroup Title="Configuración" Icon="@Icons.Material.Outlined.Settings" Expanded="false">
        <MudNavLink href="/configuracion/articulos" Icon="@Icons.Material.Outlined.Label">Artículos</MudNavLink>
        <MudNavLink href="/configuracion/usuarios" Icon="@Icons.Material.Outlined.People">Usuarios</MudNavLink>
    </MudNavGroup>

    <MudNavLink href="/almacenamiento" Icon="@Icons.Material.Filled.Storage">Almacenamiento</MudNavLink>
</MudNavMenu>